.product-card-item {
  scroll-snap-align: start;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-top: 70px;
  width: 100%;
}

.product-image {
  display: flex;
  height: 380px;
  width: 380px;
  margin: 10px;
}
.product-card-name-description {
  background-color: white;
  width: 800px;
  height: 380px;
  padding: 15px;
  margin: 10px;
}
