.product-card-item {
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
  margin-top: 50px;
  width: 90wh;
}

.product-image {
  height: 320px;
  width: 300px;
  margin: 5px;
  border: 3px solid #606cb4;
}
.product-card-name-description {
  background-color: white;
  width: 600px;
  height: 380px;
  padding: 10px;
  margin: 70px;
  display: flex;
  flex-direction: column;
}
