.banner-container {
  width: 95vw;
  display: flex;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.banner-smart-stitches-logo {
  height: 100px;
}

.search-box-and-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.search-bar-logo {
  height: 50px;
}

.search-box {
  display: flex;
}

.banner-declaration {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #606cb4;
  font-size: 25px;
}

@media (max-width: 400px) {
  .banner-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2px;
    margin-left: 14px;
  }
  .banner-smart-stitches-logo {
    height: 20px;
  }

  .banner-declaration {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #606cb4;
    font-size: 10px;
    text-align: center;
  }

  .search-box-and-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 1px;
  }

  .search-box {
    width: 50px;
  }
  .search-bar-logo {
    height: 20px;
  }
}
