.body-bar-container {
  display: flex;
  height: 120vh;
  width: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.body-bar-background {
  width: 100%;
  position: absolute;
}

.body-bar-elements-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
}

.body-bar-elements {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #606cb4;
  list-style: none;
  text-decoration: none !important;
  width: 400px;
  padding: 10px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.body-bar-elements:hover {
  cursor: pointer;
  background-color: white;
  color: #606cb4;
}

@media (max-width: 400px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 98%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
