.body-bar-container {
  display: flex;
  height: 120vh;
  width: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.body-bar-background {
  width: 100%;
  position: absolute;
}

.body-bar-elements-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
}

.body-bar-elements {
  font-size: large;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #606cb4;
  list-style: none;
  text-decoration: none !important;
  width: 400px;
  padding: 10px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.body-bar-elements:hover {
  cursor: pointer;
  background-color: white;
  color: #606cb4;
}
@media (max-width: 1280px) {
  .body-bar-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
    position: absolute;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    width: 400px;
    padding: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 1200px) {
  .body-bar-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
    position: absolute;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    width: 400px;
    padding: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 950px) {
  .body-bar-container {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 100vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 912px) {
  .body-bar-container {
    display: flex;
    height: 42vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 100vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 910px) {
  .body-bar-container {
    display: flex;
    height: 77vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 860px) {
  .body-bar-container {
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 850px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 97%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 840px) {
  .body-bar-container {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 820px) {
  .body-bar-container {
    display: flex;
    height: 44vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 800px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 790px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 770px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 760px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 730px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 700px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 660px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 640px) {
  .body-bar-container {
    display: flex;
    height: 111vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 620px) {
  .body-bar-container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 600px) {
  .body-bar-container {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 590px) {
  .body-bar-container {
    display: flex;
    height: 55vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 120vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 580px) {
  .body-bar-container {
    display: flex;
    height: 55vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 120vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 540px) {
  .body-bar-container {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 120vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 500px) {
  .body-bar-container {
    display: flex;
    height: 37vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 450px) {
  .body-bar-container {
    display: flex;
    height: 40vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 430px) {
  .body-bar-container {
    display: flex;
    height: 40vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}

@media (max-width: 414px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 412px) {
  .body-bar-container {
    display: flex;
    height: 37vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 393px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}

@media (max-width: 390px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 90vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}

@media (max-width: 384px) {
  .body-bar-container {
    display: flex;
    height: 38vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 100vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 375px) {
  .body-bar-container {
    display: flex;
    height: 37vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 360px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 140vw;
    height: 20vh;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 353px) {
  .body-bar-container {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 140vw;
    height: 20vh;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 320px) {
  .body-bar-container {
    display: flex;
    height: 29vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 140vw;
    height: 20vh;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
@media (max-width: 280px) {
  .body-bar-container {
    display: flex;
    height: 27vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .body-bar-background {
    width: 100%;
  }

  .body-bar-elements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    width: 120vw;
  }

  .body-bar-elements {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #606cb4;
    list-style: none;
    text-decoration: none !important;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 50%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .body-bar-elements:hover {
    cursor: pointer;
    background-color: white;
    color: #606cb4;
  }
}
