.contact-us-container {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.contact-us-image {
  margin-left: auto;
  margin-top: auto;
  height: 80vh;
}
.contact-us-bar {
  align-items: center;
  text-align: center;
  background-color: #606cb4;
  height: 150px;
  width: 160px;
  margin: 22%;
  margin-top: 0;
  padding: 22px;
  position: absolute;
}

.contact-us-title {
  margin-top: 90px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.email-to-smart-stitches {
  margin-top: 30%;
  display: flex;
  color: #606cb4;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (max-width: 1024px) {
  .contact-us-container {
    height: 110vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 60%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30%;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 912px) {
  .contact-us-container {
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 60%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30%;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 900px) {
  .contact-us-container {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 130px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 850px) {
  .contact-us-container {
    height: 70vh;
    width: 97%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 170px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 25px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 820px) {
  .contact-us-container {
    height: 70vh;
    width: 97%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 25px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 800px) {
  .contact-us-container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 40%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 760px) {
  .contact-us-container {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 17px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 700px) {
  .contact-us-container {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 130px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 11px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 670px) {
  .contact-us-container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 170px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 17px;
    margin-left: 0%;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 600px) {
  .contact-us-container {
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 17px;
    margin-left: 0%;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 580px) {
  .contact-us-container {
    height: 100vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 45%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    margin-left: 3%;
    font-size: 18px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 540px) {
  .contact-us-container {
    height: 100vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 45%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    margin-left: 3%;
    font-size: 18px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 520px) {
  .contact-us-container {
    height: 100vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 45%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    margin-left: 3%;
    font-size: 16px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 500px) {
  .contact-us-container {
    height: 60vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 450px) {
  .contact-us-container {
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 130px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 11px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 430px) {
  .contact-us-container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 40%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 13px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 414px) {
  .contact-us-container {
    height: 61vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 35%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 7%;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 412px) {
  .contact-us-container {
    height: 70vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 50%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 14px;
    margin-left: 1%;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 393px) {
  .contact-us-container {
    height: 70vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 35%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 12px;
    margin-left: 6%;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 390px) {
  .contact-us-container {
    height: 70vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 35%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 150px;
    width: 180px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 12px;
    margin-top: 50px;
    margin-right: 2%;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 375px) {
  .contact-us-container {
    height: 80vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 37%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    height: 150px;
    width: 190px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    justify-content: flex-start;
    cursor: pointer;
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 320px) {
  .contact-us-container {
    height: 80vh;
    width: 98%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 40%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    height: 150px;
    width: 190px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    justify-content: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 0%;
    font-size: 10px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 280px) {
  .contact-us-container {
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }

  .contact-us-image {
    margin-left: auto;
    margin-top: auto;
    height: 30%;
  }
  .contact-us-bar {
    align-items: center;
    text-align: center;
    background-color: #606cb4;
    height: 130px;
    width: 150px;
    margin: 15%;
    margin-top: 0;
    padding: 20px;
    position: absolute;
  }

  .contact-us-title {
    margin-top: 100px;
    color: white;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .email-to-smart-stitches {
    cursor: pointer;
    font-size: 8px;
    margin-top: 50px;
    color: #606cb4;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
