.header-container {
  align-items: center !important;
  text-align: center;
  padding: 20px;
}
.header-menu {
  width: 95%;
  margin: 25px;
  height: 80px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #606cb4;
  color: white;
  align-items: center;
  text-align: center;
  text-decoration: none !important;
  list-style: none;
}

.header-menu-item-link {
  color: white;
  list-style: none;
  text-align: center;
  font-weight: bold;
  align-items: center;
  text-decoration: none !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  font-size: 18px;
  padding: 20px;
  height: 20px;
  width: 190px;
}

.header-menu-item-link:hover {
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  font-size: 18px;
  width: 200px;
  height: 20px;
}

@media (max-width: 900px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    height: 50vh;
    width: 20vw;
    margin-top: 1px;
    padding: 0px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 20vw;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    height: 10vh;
    width: 20vw;
    margin-top: 1px;
    padding: 0px;
    border-radius: 10px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 10vh;
    width: 20vw;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 80px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    height: 20vh;
    width: 20vw;
    margin-top: 1px;
    padding: 5px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 13vh;
    width: 20vw;
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    height: 10vh;
    width: 20vw;
    margin-top: 1px;
    padding: 0px;
    border-radius: 10px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 10vh;
    width: 20vw;
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    margin-left: 5%;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 9px;
    height: 10px;
    margin-top: 1px;
    padding: 0px;
    width: 80px;
    border-radius: 10px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 20vw;
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 80px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    height: 20vh;
    width: 20vw;
    margin-top: 1px;
    padding: 5px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    height: 7vh;
    width: 20vw;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 9px;
    height: 10px;
    margin-top: 1px;
    padding: 0px;
    width: 80px;
    border-radius: 10px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 20vw;
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 9px;
    height: 10px;
    margin-top: 1px;
    padding: 0px;
    width: 80px;
    border-radius: 10px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 20vw;
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    height: 13vh;
    width: 20vw;
    margin-top: 1px;
    padding: 0px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 4vh;
    width: 20vw;
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 70px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    height: 13vh;
    width: 20vw;
    margin-top: 1px;
    padding: 0px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    height: 8vh;
    width: 20vw;
    font-size: 10px;
  }
}
@media (max-width: 280px) {
  .header-container {
    align-items: center;
    text-align: center;
  }
  .header-menu {
    list-style: none;
    margin: 5px;
    padding: 1px;
    height: 50px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #606cb4;
    color: white;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none !important;
    list-style: none;
  }

  .header-menu-item-link {
    color: white;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 7px;
    height: 20vh;
    width: 20vw;
    margin-top: 1px;
    padding: 5px;
    border-radius: 6px;
  }

  .header-menu-item-link:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    height: 4vh;
    width: 20vw;
    font-size: 7px;
  }
}
