.products-list-container {
  background-color: white;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.our-products-bar {
  align-items: center;
  text-align: center;
  background-color: #606cb4;
  height: 120px;
  width: 150px;
  margin: 250px;
  margin-top: 0;
  padding: 20px;
  position: absolute;
}

.shop-title {
  margin-top: 80px;
  color: white;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.products-container {
  width: 95wh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 40px;
}

.products-container::-webkit-scrollbar-track {
  background-color: #606cb4;
}

.products-container::-webkit-scrollbar-thumb:hover {
  background-color: #606cb4;
}
