.our-products-bar {
  align-items: center;
  text-align: center;
  background-color: #606cb4;
  height: 100px;
  width: 150px;
  margin: 250px;
  margin-top: 0;
  padding: 20px;
  position: absolute;
}

.shop-title {
  margin-top: 80px;
  color: white;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.products-container {
  scroll-behavior: smooth;
  margin: 5px;
}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar-track {
  background-color: #606cb4;
}

.carrousel::-webkit-scrollbar-thumb:hover {
  background-color: #606cb4;
}
