.products-list-container {
  background-color: white;
  width: 100wh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.products-list-container::-webkit-scrollbar {
  display: grid;
}

.our-products-bar {
  align-items: center;
  text-align: center;
  background-color: #606cb4;
  height: 120px;
  width: 150px;
  margin: 250px;
  margin-top: 0;
  padding: 20px;
  position: absolute;
}

.shop-title {
  margin-top: 80px;
  color: white;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.products-container {
  padding: 10px;
}
