@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* make root max width 100vw */
html {
  max-width: 100vw;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Dancing Script", cursive, "Sevillana-Regular", "ALEX BRUSH REGULAR",
    "Pantherdam Signature" Italic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titles {
  text-align: center;
  font-size: 60px;
}

.hidden {
  display: none;
}

.MuiButtonBase-root {
  display: flex;
}

@font-face {
  font-family: "Sevillana-Regular";
  src: url("https://github.com/enasbitar/SmartStitchesWithLovee/blob/main/smartstitchesfrontend/src/Assets/FontTypes/Sevillana-Regular.ttf");
}
